@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Balige";
  src: url("/fonts/balige/Balige.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --desc-text-color: #686868;
  --headline-text-color: #7e7e7e;
  --btn-outline-color: #f1f1f1;
  --btn-outline-text-color: #121212;
  --border-color: #ededed;
  --explore-btn-color: #071134;
  --explore-btn-text-color: #fafafa;
  --box-map-bg-color: #f7f7f7;
  --input-shadow: 0px 1px 1px 0px #0000000d;
  --general-text-color: #121212;
  --direct-btn-color: #2775ca;
  --open-btn-BgColor: #00cc7466;
  --open-btn-text-color: #00ac47;
  --close-btn-BgColor: #d8002766;
  --close-btn-text-color: #d80027;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}
